/*******************************************************
*
* Mobile styles and other media queries
*
*******************************************************/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */

@media only screen and (min-width: 992px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Welcome Region */

  .welcome-content {
    display: grid;
    max-width: 1470px;
    grid-template-columns: repeat(100, 1fr);
    margin: 0 auto;
  }
  .welcome-primary-section {
    grid-column: 1/57;
  }
  .welcome-secondary-section {
    grid-column: 62/-2;
  }

  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Work Region */

  /*#endregion Work Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Cta Region */

  .cta-gallery-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1460px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin: 0 auto;
    padding: 0 30px;
  }

  /*#endregion Cta Region */

  /*#region News Region */

  .news-gallery-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1460px;
    grid-row-gap: 0px;
    grid-column-gap: 28px;
    margin: 0 auto;
    padding-top: 0;
  }

  /*#endregion News Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Social Region */

  .social-gallery-image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1250px;
    grid-row-gap: 0px;
    grid-column-gap: 13px;
    margin: 0 auto;
  }

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1450px) {
  /* 1367 */
  .hp-welcome .welcome-secondary-section em {
    font-size: 25px;
  }
  .hp-team .team-content-hover .site-btn {
    width: 100%;
  }
  .hp-team .team-content-hover {
    width: 100%;
  }
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Work Region */

  /*#endregion Work Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region News Region */

  /*#endregion News Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1366px) {
  /* 1200 */
  .hp-welcome .welcome-secondary-section em {
    font-size: 21px;
  }

  /* Team */
  .hp-team .team-content em {
    font-size: 20px;
  }
  .hp-team .team-content-hover > em {
    font-size: 20px;
  }
  .hp-team .team-content span {
    font-size: 12px;
  }
  .hp-team .team-content-hover > span {
    font-size: 12px;
  }
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Work Region */

  /*#endregion Work Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Cta Region */
  .cta-item.canvas-wrapper::after {
    width: 350px;
  }
  .cta-item.canvas-wrapper em {
    font-size: 55px;
  }
  /*#endregion Cta Region */

  /*#region News Region */

  /*#endregion News Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1199px) {
  /* 992 */
  .hp-welcome .welcome-secondary-section em {
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  .hp-welcome .site-bg.bg-green canvas {
    bottom: 0;
    height: 615px;
  }
  .hp-welcome .welcome-secondary-section {
    padding-top: 90px;
  }
  .hp-welcome .welcome-content p {
    font-size: 18px;
  }

  .welcome-primary-section {
    grid-column: 1/52;
  }
  .welcome-secondary-section {
    grid-column: 56/-2;
  }

  /* Team */
  .hp-team .team-content em {
    font-size: 18px;
  }
  .hp-team .team-content-hover > em {
    font-size: 18px;
  }
  .hp-team .team-content span {
    font-size: 12px;
  }
  .hp-team .team-content-hover > span {
    font-size: 12px;
  }
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Work Region */

  /*#endregion Work Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region News Region */

  /*#endregion News Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

/* iPad(portrait) | Galaxy Tab 4(portrait) */

@media only screen and (max-width: 991px) {
  body.is-open {
    overflow: auto;
  }

  .site-title .site-title-group em {
    font-size: 65px;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
    display: none !important;
  }

  .section-title {
    text-align: center;
    margin-bottom: 40px;
  }

  .hp-sidebar {
    display: none;
  }
  /* Welcome Content */
  .hp-welcome {
    padding: 50px 15px;
  }

  .hp-welcome .site-bg-grayscale canvas {
    background-size: cover;
  }

  .hp-welcome .site-title {
    gap: 19px;
  }
  .hp-welcome .site-title-group {
    margin: 0;
  }
  .hp-welcome .site-title img {
    max-width: 80px;
    align-self: center;
  }
  .hp-welcome .welcome-primary-section img {
    margin: 0 auto;
  }
  .hp-welcome .site-bg.bg-green {
    display: none;
  }
  .welcome-content p {
    font-size: 18px;
    margin: 0 auto 42px;
    text-align: center;
  }
  .hp-welcome .welcome-secondary-section {
    padding: 0;
  }
  .hp-welcome .welcome-group {
    justify-content: center;
  }
  /* Cta Content */
  .cta-gallery-image-container {
    display: flex;
    flex-direction: column;
  }
  /*#region Header */

  header.header {
    position: relative;
    margin-top: 53px;
    background: #111;
    padding: 25px 15px;
  }
  .header-container {
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: none;
  }

  /*#endregion Header */

  /*#region Contact */
  .hp-contact .site-title {
    display: grid;
    justify-content: center;
  }

  .contact-form .form-md {
    width: 100%;
  }

  .contact-form .pad-left,
  .contact-form .middle-pad-left,
  .contact-form .pad-right,
  .contact-form .middle-pad-right {
    padding: 0;
  }

  /*#endregion Contact */
  /* The following are used on inner pages. Please edit carefully. */
  .aios-mobile-header-wrapper {
    z-index: 1020 !important;
  }
  /*#region testimonials */
  .hp-testimonials .site-title-group {
    margin-bottom: 50px;
  }
  .hp-testimonials .testimonials-slick {
    padding-top: 50px;
  }
  .hp-testimonials .testi-top {
    font-size: 34px;
  }
  /*#endregion testimonials  */

  .inner {
    width: 100%;
  }
  #content-sidebar,
  #content-full {
    width: 100%;
  }
  .outer {
    width: 100%;
    min-width: 100%;
  }
  #content-sidebar #content {
    width: 100%;
  }
}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */

@media only screen and (max-width: 767px) {
  /* 481 */
  .site-title .site-title-group span {
    font-size: 17px;
  }
  .site-title .site-title-group em {
    font-size: 35px;
  }
  /* #region testimonials */
  .hp-testimonials .testi-top {
    font-size: 23px;
    padding-left: 0;
  }
  .hp-testimonials .site-title-group {
    margin-bottom: 30px;
  }
  .hp-testimonials .site-title {
    padding-left: 20px;
  }
  .hp-testimonials .site-title-group em {
    gap: 20px;
  }
  .slick-dots {
    position: absolute;
    top: initial;
    right: initial;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hp-testimonials .testimonials-slick {
    padding-top: 20px;
  }

  /* #endregion testimonials */

  /* Contact */
  .hp-contact .site-title .site-title-group em {
    font-size: 65px;
  }

  .hp-contact .site-title .site-title-group span {
    font-size: 22px;
  }
  /* Welcome */

  .ip-banner .container {
    width: 100%;
  }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */

@media only screen and (max-width: 480px) {
  /*#region Global */
  .hp-welcome .site-title img {
    max-width: 50px;
  }
  .hp-welcome .site-title {
    gap: 10px;
  }

  .site-title .site-title-group span {
    font-size: 12px;
  }
  .site-title .site-title-group em {
    font-size: 25px;
  }
  /*#endregion Global */
  /*#region testimonials */
    .hp-testimonials .site-title {
      padding-left: 0px;
  }
  .hp-testimonials .site-title-group {
    margin-bottom: 20px;
  }
  .hp-testimonials .testi-top {
    font-size: 20px;
  }
  /*#endregion testimonials */

  /* Contact */
  .hp-contact .site-title .site-title-group span {
    font-size: 16px;
  }

  .hp-contact .site-title .site-title-group em {
    font-size: 45px;
    gap: 19px;
  }
  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}
